.link {
	color: #790886;
	line-height: 1.2;
	border-bottom: 1.5px solid currentColor;
	transition: all 0.3s;

	&:hover {
		color: $color-primary;
	}
}

.text__light {
	opacity: 0.7;

	&-lighter {
		opacity: 0.4;
	}
}

.text__secondary {
	color: $color-secondary;
}

.text__medium {
	font-weight: 500;
}
.text__semibold {
	font-weight: 500;
}
