.footer {
	padding-top: 4.5rem;
	background: url(../img/footer-bg.png);
	background-size: cover;
	@media only screen and (max-width: $tab-port) {
		background: $color-primary;
	}

	.newsletter__form {
		max-width: 880px;
		margin: 0 auto;
		background: #fff;
		border-radius: 6px;
		padding: 4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3.form__heading {
			font-size: clamp(2.2rem, 2vw, 3rem);
			font-weight: 600;
			color: #060054;
		}

		.input__box {
			display: flex;
			align-items: center;
			gap: 8px;
			input {
				$input-bg: #060054;
				display: block;
				padding: 1.2rem 2rem;
				background: rgba($input-bg, 0.1);
				border: 0;
				border-radius: 4px;
				font-size: clamp(16px, 2vw, 1.8rem);
			}
		}

		@media only screen and (max-width: $tab-port) {
			flex-direction: column;
			gap: 3rem;
			padding: 4rem 2rem;
			h3.heading {
				text-align: center;
			}
			.input__box {
				flex-direction: column;
			}
		}
	}

	&__heading {
		font-family: $font-primary;
		font-size: 1.6rem;
		font-weight: 500;
		color: #fff;
	}

	&__links {
		&-item {
			margin-bottom: 1.5rem;
		}

		&-link {
			font-size: 1.4rem;
			color: #fff;
			opacity: 0.7;

			&:hover {
				color: #fff;
				opacity: 1;
			}
		}
	}

	.social {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid rgba(39, 54, 75, 0.1);
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			transition: all 0.3s;
			svg {
				width: 16px;
				height: 16px;
				fill: currentColor;
				transition: all 0.3s;
			}

			&--facebook {
				color: #a3a3a3;
				&:hover {
					background: #a3a3a3;
				}
			}
			&--google {
				color: #f34a38;
				&:hover {
					background: #f34a38;
				}
			}
			&--twitter {
				color: #55adee;
				&:hover {
					background: #55adee;
				}
			}

			&:hover {
				color: #fff;
			}
		}
	}

	.copyright {
		border-top: 1px solid #d4d4d4;
		padding: 2rem 0;
		text-align: center;
		margin-top: clamp(16px, 4vw, 6rem);

		&__text {
			color: $color-secondary;
			line-height: 1;
			font-size: 14px;
			color: #fff;
			opacity: 0.7;
		}
	}
}
