.btn {
	font-size: clamp(16px, 4vw, 2rem);
	font-weight: 500;
	font-family: $font-primary;
	text-transform: capitalize;
	outline: none;
	transition: all 0.3s;
	&:focus {
		box-shadow: none;
	}

	&__outlined {
		padding: 1rem 3.2rem;
		font-weight: 600;
		position: relative;
		background: #fff;
		border-radius: 10px;
		background-clip: padding-box; /* !importanté */
		border: 2.5px solid transparent; /* !importanté */

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -2.5px; /* !importanté */
			border-radius: inherit; /* !importanté */
			background: linear-gradient(315deg, #738bfa 0%, #fec36a 100%);
			z-index: -1;
			transition: all 0.3s;
		}

		&:hover {
			box-shadow: 0 4px 30px rgba(115, 140, 250, 0.3);
			&::after {
				filter: hue-rotate(180deg);
			}
		}
	}
	&__yellow {
		padding: 1.3rem 3.5rem;
		background: $color-secondary;
		border-radius: 15px;
		font-weight: 600;
		color: #fff;
		font-size: clamp(16px, 1.6vw, 2rem);
		box-shadow: 0px 15px 25px rgba(252, 194, 0, 0.23);
		&:hover {
			background: $color-primary;
			box-shadow: 0px 15px 35px rgba(100, 120, 248, 0.5);
			color: #fff;
		}
	}
	&__primary,
	&__purple {
		padding: 1.5rem 3.5rem;
		background: $color-primary;
		font-weight: 600;
		color: #fff;
		font-size: clamp(16px, 1.6vw, 2rem);
		background: $color-primary;
		box-shadow: 0px 15px 35px rgba(100, 120, 248, 0.5);
		border-radius: 15px;
		&:hover {
			background: $color-secondary;
			box-shadow: 0px 15px 35px rgba($color-secondary, 0.5);
			color: #fff;
		}

		&--small {
			padding: 1.2rem 2.2rem;
			font-size: clamp(14px, 1.6vw, 1.6rem);
			border-radius: 10px;
			box-shadow: 0px 15px 35px rgba(100, 120, 248, 0.3);
		}

		&--outlined {
			border: 1.5px solid $color-primary;
			background: none;
			color: $color-primary;
			border-radius: 10px;
			box-shadow: none;

			&:hover {
				background: $color-primary;
				color: #fff;
				box-shadow: 0px 15px 35px rgba(100, 120, 248, 0.5);
			}
		}
	}
	&__whatsapp {
		@include big-btn;
		background: linear-gradient(315deg, #1fb98b 0%, #52e158 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 215px;
		svg {
			width: 2rem;
			height: 2rem;
			fill: currentColor;
			margin-right: 1rem;
		}

		&:hover {
			box-shadow: 0px 15px 25px rgba(31, 185, 139, 0.5);
			color: #fff;
		}
	}
	&__red {
		padding: 1.1rem 2.5rem;
		background: $color-red;
		border-radius: 6px;
		font-weight: 600;
		font-size: clamp(16px, 2vw, 1.8rem);
		color: #fff;
		&:hover {
			background: $color-primary;
			color: #fff;
		}
	}

	&__white {
		padding: 2.6rem 6rem;
		color: #9053fd;
		background: #fff;
		border-radius: 15px;
		box-shadow: 0px 15px 25px rgba(100, 120, 248, 0.2);

		&:hover {
			background: #9053fd;
			color: #fff;
			box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
		}
	}
}
